@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Oswald:500');

@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    background: linear-gradient(#dedede, #ffffff), url(#img/background.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0b0b0b;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.6em;
    height: 100%;
    padding-top: 10%;
}

#main-header {
    background-color: white;
    height: 10%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;
}

.site-name {
    font-family: 'Oswald';
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    top: 29%;
    left: 6.3%;
    letter-spacing: 0.3px;
    color: #163856;
    text-decoration: none;
    z-index: 2;
}

.escudo {
    position: relative;
    right: 0%;
    bottom: 20%;
    width: 6.5%;
    z-index: 3;
}

.micaslaasociate {
    font-family: 'Roboto';
    font-size: 1em;
    color: white;
    text-decoration: none;
    background-color: #163856;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 6.5%;
    display: inline-block;
    position: relative;
    text-align: center;
    transition: all 0.2s;
}

.micaslaasociate:hover {
    background-color: #bf2029;
    color: white;
    font-size: 1.08em;
}

.micasla {
    position: relative;
    left: 91%;
    bottom: 85px;
    background-color: #bf2029;
    z-index: 4;
}

.asociate {
    position: relative;
    left: 75%;
    bottom: 85px;
    z-index: 5;
}

#nav {
    left: 25%;
    top: 7.4%;
    position: fixed;
    z-index: 6;
}

ul,
ol {
    list-style: none;
}

#ul-main li a {
    background: #FFF;
    color: #163856;
    font-size: 1.1em;
    font-family: 'Oswald';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0px;
    padding: 5px;
    display: block;
    min-width: 100px;
}

#ul-main li a:hover {
    color: #bf2029;
}

#ul-main > li {
    float: left;
}

#ul-main li ul {
    display: none;
    position: relative;
    padding: 0px;
}

#ul-main li:hover > ul {
    display: block;
}

#ul-main li ul li {
    position: relative;

}

#ul-main li ul li ul {
    right: -100%;
    top: -40px;
}

.medio {
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    max-width: 70%;
}

.fotoequipo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
    font-size: 2em;
}

.leetambien {
    box-shadow: 0px 1px 2px #000000;
    padding: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.inauguracion {
    color: #08155d;
    text-decoration: none;
}

.inauguracion:hover {
    color: red;
}


@media (min-width:768px) and (max-width:940px) {
    body {
        padding-top: 13%;
    }

    #main-header {
        height: 8%;
        max-width: 940px;
    }

    .site-name {
        font-size: 1.7em;
        top: 15%;
        max-width: 940px;
    }

    .escudo {
        bottom: 20%;
    }

    .micaslaasociate {
        font-size: 0.8em;
        padding: 2px;
        width: 9%;
    }

    .micaslaasociate:hover {
        font-size: 0.85em;
    }

    .micasla {
        left: 89%;
        bottom: 55px;
    }

    .asociate {
        left: 68%;
        bottom: 55px;
    }

    #nav {
        left: 10%;
        top: 4.9%;
    }

    #ul-main li a {
        font-size: 1.09em;
        padding: 6px;
    }
}

@media (max-width:320px) {
    body {
        padding-top: 30%;
    }

    #main-header {
        height: 10%;
    }

    .site-name {
        font-size: 1em;
        top: 10%;
        left: 17%;
        display: none;
    }

    .escudo {
        bottom: 12%;
        width: 20%;
        left: 3%;
    }

    .micaslaasociate {
        font-size: 1em;
        padding: 4px;
        width: 25%;
    }

    .micaslaasociate:hover {
        font-size: 1.2em;
    }

    .micasla {
        left: 67%;
        bottom: 58px;
    }

    .asociate {
        left: 5%;
        bottom: 58px;
    }

    #nav {
        left: -10%;
        top: 7.6%;
    }

    #ul-main li a {
        font-size: 1.09em;
        padding: 0px;
        min-width: 60px;
    }

    .medio {
        width: 100%;
        max-width: 100%;
    }

    .fotoequipo {
        width: 80%;
    }
}
